<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
  <script src="/static/jquery-2.14/jquery.js"></script>
  <link rel="stylesheet" href="/static/bootstrap-3.3.5/css/bootstrap.min.css">
</head>

<body>
<br/><br/><br/>
<div class="col-xs-12 col-md-offset-1 col-sm-5 ">
<form class="form-horizontal" role="form" action="" method="post">
    <div class="form-group">
        <label for="name"><h3>机构或个人简介</h3></label>
        <div class="col-md-offset-2">
        <textarea class="form-control" rows="20" name="reply" id="reply" placeholder=""></textarea>
            </div>
    </div>



        <label for="name"><h3>负责人信息</h3></label>


        <div class="col-md-offset-2">

         <div class="form-group">
            <label for="person_in_charge_name" class="col-sm-3 control-label">姓名</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" id="person_in_charge_name" placeholder="请输入名字">
            </div>
         </div>

          <div class="form-group">
            <label for="person_in_charge_tel" class="col-sm-3 control-label">联系电话</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" id="person_in_charge_tel" placeholder="请输入手机号码">
            </div>
        </div>


          <div class="form-group">
            <label for="person_in_charge_mail" class="col-sm-3 control-label">邮箱</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" id="person_in_charge_mail" placeholder="请输入邮箱">
            </div>
        </div>
        </div>


    <label for="name"><h3>联系人信息</h3></label>

        <div class="col-md-offset-2">

         <div class="form-group">
            <label for="contact_name" class="col-sm-3 control-label">姓名</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" id="contact_name" placeholder="请输入名字">
            </div>
         </div>

          <div class="form-group">
            <label for="contact_tel" class="col-sm-3 control-label">联系电话</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" id="contact_tel" placeholder="请输入手机号码">
            </div>
        </div>


          <div class="form-group">
            <label for="contact_mail" class="col-sm-3 control-label">邮箱</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" id="contact_mail" placeholder="请输入邮箱">
            </div>
        </div>
        </div>





    <div class="form-group">
         <button type="submit" id="sub" class="btn btn-default" style="width: 200px; height: 40px;" >保存</button>
    </div>

    </form>
</div>




</body>
</html>