<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>商业合作</title>
    <link href="../static/css/business_cooperation.css" rel='stylesheet' type='text/css' />
</head>
<body >
	<div class="a"></div>
	<div class="b">
		<button class="btn">申请加盟</button>
	</div>
	<div class="container">

		<div class="c"></div>
		<h3>商业合作中心热线：</h3>
		<p class="headquarter">总部：<span>010-1000248</span></p>
		<p class="chengdu">成都：<span>028-1002354</span></p>
		<p class="nangjing">南京：<span>030-4412659</span></p>

	</div>


</body>
</html>