{% extends 'my_base.html' %}
 
{% block title %}服务详情{% endblock %}

{% block content %}


<!-- assets -->
    <link rel="stylesheet" type="text/css" href="/static/css/jcarousel.connected-carousels.css">

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery.jcarousel.min.js"></script>

    <script type="text/javascript" src="/static/js/jcarousel.connected-carousels.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/recommend_item.css">
    <script src="/static/js/Popt.js"></script>
    <script src="/static/js/cityJson.js"></script>
    <script src="/static/js/citySet.js"></script>
<div class="row" align="left">
<div class="panel panel-default">
   <div class="panel-body">
      <h2>主营业务</h2>
      <p>
      重庆政资会网络有限公司，作为中国领先的服务众包平台，自2006年成立以来，始终立足服务交易，致力让天下人享受诚信服务，助力中小微企业的成长与发展。</p>

<p>服务涵盖平面设计、开发建站、营销推广、文案策划、动画视频、工业设计、建筑设计、装修设计，八大主打类目，六百细分品类，为创业者提供一站式的企业全生命周期服务。

政资会网目前拥有500万家中外雇主，1000万家服务商，2015年平台交易额75亿元，市场占有率超过80%。</p>

<p>十年积累的海量交易数据，政资会网全面创新商业模式，以“数据海洋+钻井平台”为战略，先后拓展八戒知识产权、八戒金融、八戒工程、八戒印刷等钻井业务， 同时政资会网在各地设立政资会众创空间，积极推动“百城双创”，不断完善服务生态体系。

2015年6月，政资会网获得赛伯乐集团和重庆国有企业的26亿元C轮投资，目前估值达110亿元。政资会网在十年的创业历程中，秉承商业价值与社会价值并重的发展理念， 不断得到各级政府和机构的关注与扶持，同时也获得多项殊荣，成为中国著名的互联网品牌企业。
      </p>
      <h2>业务资质</h2>
      <h5>从业证书/咨询证书</h5>
      <center><img src="../static/images/测试静态页面用img/1.png"></img></center>
   </div>
</div>


</div>




{% endblock %}