
<div>
<link href="/static/css/safe_center.css" rel='stylesheet' type='text/css'/>
	<div class="security">
		<label class="center">安全中心</label>
		
		<img class="h" src="/static/images/11.png" alt="placeholder+image">
		<div class="center">
			<div class="email">
				<p class="line"><span><img src="/static/images/12.png" alt="placeholder+image">&nbsp;&nbsp;</span>邮箱验证 <span class = "a"><a class="line" href="#">修改邮箱地址>></a></span></p>
			</div>
			<hr width="100%">
			<div class="phone">
				<p class="line"><span><img src="/static/images/12.png" alt="placeholder+image">&nbsp;&nbsp;</span>手机验证<span class = "a"><a class="verify" href="#">验证手机号</a></span><span class = "a"><a class="verify" href="#">更换手机号</a></span></p>
			</div>
			<hr width="100%">
			<div class="key">
				<p class="line"><span><img src="/static/images/12.png" alt="placeholder+image">&nbsp;&nbsp;</span>交易密码<span class = "a"><a class="line" href="#">设置交易密码>></a></span></p>
			</div>
			<hr width="100%">
	
		</div>
		
	</div>


</div>