<!DOCTYPE html>
<html>
<head>
  <title>填写发布人信息</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">  
  <link href="../static/css/representations.css" rel='stylesheet' type='text/css' />
</head>
<body>
<div class="container">
<!--导航条 -->
    <nav class="navbar" role="navigation"  style="background-color:white;">
		<div class="navbar-header" id="section-0">
			 <a class="navbar-brand" href="{% url 'user_center'%}">Hi,xxx 欢迎来到政资汇！</a>
		</div>
		<div style="float:right">
			<ul class="nav navbar-nav">
			<li class="active"><a href="#">退出</a></li>
			<li><a href="#">登录</a></li>
			<li><a href="#">注册</a></li>
			<li><a href="{% url 'user_center'%}">我的政资汇</a></li>
			<li><a href="#">我的订单</a></li>
			<li><a href="#">手机政资汇</a></li>
			<li><a href="#">申请加盟</a></li>
			<li><a href="#">人工申诉</a></li>
			<li><a href="#">网站导航</a></li>
		 </ul>
		</div>
	</nav>

</div>
	<div>
		<img class="h" src="../static/images/2.png" alt="placeholder+image">
	</div>
	<div class="center">
		 <caption><h2><b>政资项目共享</b></h2><span class="a" >内容必填</span> <span class="b" >*</span></h3>
		<hr width="100%">
<!--表单-->
<form method="POST" class="form-horizontal" role="form">{% csrf_token %}
                    <fieldset>
                        <legend>项目基本情况</legend>
                       <div class="form-group">
                          <label class="col-sm-2 control-label" for="ds_host"><span class = "c">*</span>项目名称：</label>
                          <div class="col-sm-4">
                          {{ form.projectname }}
                          </div>
                          <label class="col-sm-2 control-label" for="ds_name"><span class = "c">*</span>项目支持方向及领域：</label>
                          <div class="col-sm-4">
                             {{ form.projectdirect }}
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="col-sm-2 control-label" for="ds_username"><span class = "c">*</span>项目申报要求：</label>
                          <div class="col-sm-4">
                               {{ form.projectneed }}

                          </div>
                          <label class="col-sm-2 control-label" for="ds_password"><span class = "c">*</span>项目管理部门：</label>
                          <div class="col-sm-4">
                               {{ form.projectmanage }}

                          </div>
                       </div>
                    </fieldset>
                    <fieldset>
                         <legend>项目具体实行</legend>
                        <div class="form-group">
                           <label for="disabledSelect"  class="col-sm-2 control-label">项目申报流程：</label>
                           <div class="col-sm-10">
                               {{ form.projectprocess }}
                           </div>
						    <label for="disabledSelect"  class="col-sm-2 control-label">项目联系人及电话：</label>
                           <div class="col-sm-4">
                               {{ form.projectlink }}
                           </div>
						   <label for="disabledSelect"  class="col-sm-2 control-label">项目保密情况：</label>
                           <div class="col-sm-4">
                               {{ form.projectsecret }}
                           </div>
                        </div>
                    </fieldset>

                       <fieldset>
                         <legend></legend>
                        <div class="form-group">
                           
                           
                               <center><button type="submit" class="className">下一步</button></center>
                           
						   
                        </div>
                    </fieldset>
      
		
    </form>
<!--表单-->
 <div class="footer">
		
		<hr width="100%">
		
			<p class="footer">Copyright © 2002-2016  版权所有  政资汇科技有限公司   苏ICP证B2-20100204  [乙测资字32005078]   </p>
		
	</div>
</body>
</html>	
