body{
    margin:0px;
    padding:0px;
    background-color:white;
    font-family:"Microsoft YaHei UI";
}
h2,h3{
    color:gray;
}
.top{
    position:fixed;
    width:100%;
    height:65px;
    top:0px;
    background-color: #1f1a17;
    /* font-weight:bold;*/
    z-index:1;
}
.top > span{
    color:white;
    float:left;
    font-size:200%;
    font-weight:600;
    padding:10px 0px 10px 100px;
}
.top ul{
    list-style-type: none;
}

.top li{
    float:right;
    margin:20px 25px;

}
li a{
    text-decoration:none;
    color:white;
    font-size:150%;
    font-weight:600;
}


.mainbox{
    background-color: white;
    margin-top:150px;
    margin-bottom:100px;
    margin-right:auto;
    margin-left:auto;
    padding:20px 50px 20px 50px;
    width:1000px;
    text-align: center

}
.mainbox > img {
    width:60%;
    height:auto;
}
.mainbox > a{
    width:20%;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
}
.bottom{
    margin-top:50px;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
    height:50px;
    background-color: #212121;
    font-weight:bold;
    text-align:center;
    font-size:150%;
    color:white;
}
@media all and (max-width:1000px){
    .top{
        width:1000px;
    }
    .bottom{
        width:1000px;
    }
}