<div>
    <style>
    #order{
        width:100%;
        margin-left:auto;
        margin-right:auto;
        background-color: #ffffff;
    }
    .btn{
        font-weight:600;
    }
    
    #order-list{
        padding:0px 10px 10px 10px;
        border-width:3px;
        border-style:solid;
        border-color: #B9BFC1;
        font-size:100%;
        background-color:#F5F5F5;
        margin-top:20px;
        width:1000px;
    }
    #order-list .title a{
        text-decoration:none;
        color: #595959;
    }
    #order-list .list-content{
        position:relative;
        margin:10px 0px 0px 0px;
        height:150px;
        overflow:hidden;
        background-color:white;
    }
    #order-list  .text{
        margin-left:230px;
        margin-top:10px;
        float:left;
        margin-right:220px;
    }
    #order-list a img{
        position:absolute;
        left:10px;
        top:10px;
        width:200px;
        height:130px;
    }
    #order-list .line{
        position:absolute;
        right:200px;
        top:20px;
        width:1px;
        background-color: #e0e0e0;
        height:110px;
    }
    #order-list .sum{
        color:#FF8213;
        font-size:250%;
        font-weight:600;
    }
    #order-list .title {
        font-weight:bold;
    }
    #order-list .list-content > span{
        position:absolute;
        left:10px;
        top:10px;
        background-color:#50B400;
        color:white;
        font-size:75%;
        padding:3px 5px;

    }
    #order-list .agency{
        font-size:85%;
        color:#50B400;
    }
    #order-list .order-status,#order-list .glyphicon-send{
        font-size:85%;
    }
    #order-list .order-status-title{
        background-color:#1E2B33;
        border-radius:5px;
        padding:2px 8px 2px 5px;
        color:white;
    }
    #order-list .order-status-text{
        margin-left:15px;
        font-weight:bold;
        color: #19574c;
    }
    #order-list .benefit,#list .glyphicon-usd{
    	font-size:85%;
	}
	#order-list .benefit-text{
    	background-color:#1E2B33;
    	border-radius:5px;
    	padding:2px 8px 2px 5px;
    	color:white;
	}
	#order-list .benefit-num{
    	margin-left:15px;
    	font-weight:bold;
    	color:#FF8213;
        font-size:150%;
	}
	#order-list .opration{
    text-align:center;
    position:absolute;
    right:0;
    top:0;
    width:200px;
    font-size:75%;
    color: #929292;
    padding:25px;
}
#order-list .opration > p{
    font-size:150%;
    line-height: 2;
}
#order-list .opration > a{
    width:75%;
    margin-left:auto;
    margin-right:auto;
}
</style>
    <div id="order-list">
        <h3 style="font-weight:bold;">我的订单</h3>
		<br>
	
<table class="table" align="center" style="width:1000px;">
   <thead>
      <tr>
         <th><font size=" 2">全部订单{{my_html_use_count}}&nbsp&nbsp&nbsp&nbsp</font><font size=" 2">待支付{{my_html_notpay_count}}&nbsp&nbsp&nbsp&nbsp</font><font size=" 2">待出行&nbsp&nbsp&nbsp&nbsp</font><font size=" 2">待点评{{my_html_noteval_count}}&nbsp&nbsp&nbsp&nbsp</font></th>
         <th></th>
		 <th></th>
		 <th></th>
		 <th></th>
		 <th></th>
      </tr>
   </thead>
   <thead>
      <tr height=40>
         <th></th>
         <th></th>
		 <th></th>
		 <th></th>
		 <th></th>
      </tr>
   </thead>
      <thead>
      <tr height=40>
	     <th></th>
         <th><font size=" 2">产品信息</font></th>
         <th><font size=" 2">订单金额</font></th>
		 <th><font size=" 2">起始时间</font></th>
		 <th><font size=" 2">订单状态</font></th>
		 <th><font size=" 2">订单操作</font></th>
      </tr>
   </thead>
   <tbody>
    {% for order in a_order_list %}
      <tr>
         <td><center><div class="list-content">
                        <a href="{% url 'service_details' %}?goodsid={{ order.goods_id }}">
                            <img src="{{ order.pic_url }}">
                        </a>
                    </div><center></td>
         <td><br><br><font size=" 2">{{ order.goods_name }}</a></font><br>
         <br><br><br><font size=" 2">订单编号{{ order.order_no }}</a></font>
         </td>
		 <td align="center"><br><br>价格{{ order.order_amount }}</td>
		 <td><br><br>{{ order.add_time }}</td>
		 <td align="center"><br><br><font size=" 2">{{ order.order_state}}</font></td>
		 <td><br><button type="submit" class="btn btn-success">立即支付</button><br><br><p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp查看订单<p></td>
      </tr>
    {% endfor %}
   </tbody>
</table>

        <!--<div id="order-button">
            <button type="button" class="btn btn-success">全选</button>
            <button type="button" class="btn btn-default">反选</button>
            <button type="button" class="btn btn-default">全部确认</button>
            <button type="button" class="btn btn-default">排序</button>
        </div>
        <div id="order-list">
        {% for order in a_order_list %}
            <div class="list-content">
                <a href="{% url 'service_details' %}?goodsid={{ order.goods_id }}">
                    <img src="{{ order.pic_url }}" />
                </a>
                <span>
                    科技项目
                </span>
                <div class="text">
                    <p class="title">
                        <a href="{% url 'service_details' %}?goodsid={{ order.goods_id }}">{{ order.goods_name }}</a>
                    </p>
                    <p class="agency">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <span>{{ order.publish }}</span>
                    </p>
                    <p class="order-status">
                        <span class="order-status-title">
                            <span class="glyphicon glyphicon-send"></span>
                            <span>交易状态:</span>
                        </span>
                        <span class="order-status-text">
                            {{ order.order_state }}
                        </span>
                    </p>
                    <p class="commit-status">
                        {{ order.eval_state }}
                    </p>
                    <p class="benefit">
                        <span class="benefit-text">
                            <span class="glyphicon glyphicon-usd"></span>
                            <span>实付款：</span>
                        </span>
                        <span class="benefit-num">
                            {{ order.order_amount }}
                        </span>
                    </p>
                </div>
                <div class="opration">
                    <a id="enter" title="{% url 'order_enter' %}?id={{ order.order_id }}" class="btn btn-default btn-block opration-a">确认完成</a>
                    <a id="give_up" title="{% url 'order_giveup' %}?id={{ order.order_id }}" class="btn btn-default btn-block opration-a">申请关闭</a>
                    <a id="pay" href="{% url 'pay' %}?goodsidtopay={{ order.goods_id }}" class="btn btn-default btn-block ">去支付</a>
                    <a id="delete" title="{% url 'order_delete' %}?id={{ order.order_id }}" class="btn btn-default btn-block opration-a">删除订单</a>
                    <a id="commit" href="{% url 'order_commit' %}?id={{ order.order_id }}" class="btn btn-default btn-block ">去评论</a>
                    <p id="lock1">申请正在处理中</p>
                    <p id="lock2">(现在不可操作)</p>
                    <p id="commited">已评价</p>
                </div>
                <div class="line"></div>
            </div>
        {% endfor %}
        </div>-->
    </div>
<script>
    $(document).ready(function(){
        $(".list-content").hover(function(){
            $(this).css("box-shadow","1px 2px 3px #c0c0c0");
        },function(){
            $(this).css("box-shadow","0px 0px 0px");
        });
        $(".opration").children("a").hide();//先隐藏所有操作按钮
        $(".opration").children("p").hide();//先隐藏所有操作按钮
        $(".list-content").each(function(){
        	var text = $(this).find(".order-status-text").text().trim();
            var commit = $(this).find(".commit-status").text().trim();
        	if(text === "未付款" || text === "已取消"){
        		$(this).find("#pay").show();
        		$(this).find("#delete").show();
        	}
            if(text ==="已付款" || text === "已发货"){
        		$(this).find("#enter").show();
        		$(this).find("#give_up").show();
        	}
        	if(text ==="已验收"){
        		$(this).find("#delete").show();
                if(commit === "未评价"){
                    $(this).find("#commit").show();
                }else{
                    $(this).find("#commited").show();
                }
        		
        	}
        	if(text ==="申请处理中"){
        		$(this).find("#lock1").show();
        		$(this).find("#lock2").show();
        	}
        	
        });
        

       
    	$("#order-list").find(".opration").each(function(){
    		$(this).children(".opration-a").each(function(){
                $(this).click(function(){
                	if (window.confirm("您确定执行此操作？")) {
            			var hide = $(this).parent().parent();   //注意要在ajax的外面使用this，否则this的上下文指的是ajax对象
            			var url = $(this).attr("title");
                		$.ajax({method:"GET",url:url,dataType:"text",success:function(text){
                    		if(text === '0'){  
                        		hide.animate({height:"0px",opacity:"0"},500).fadeOut("fast",function(){
                        		});
                   	 		}
                   	 		if(text === '1'){
                        		alert("操作失败!")
                    		}
                		},error: function(XMLHttpRequest, textStatus, errorThrown) {
                    		$("#load").hide();
                    		$("#load").after("<p>数据请求出错，请稍后重试！</p>");
                    		console.log(XMLHttpRequest.status);
                    		console.log(XMLHttpRequest.readyState);
                    		console.log(textStatus);
                		}})
                	}
    		    })
    	
        	});
    	});
    })
</script>
</div>
