<div class="container">
<style type="text/css"><!--附加导航样式-->
    /* Custom Styles */
    ul.nav-tabs{
        z-index:1;
        width: 140px;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
    ul.nav-tabs li:first-child{
        border-top: none;
    }
    ul.nav-tabs li a{
        margin: 0;
        padding: 8px 16px;
        border-radius: 0;
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
        background: #0088cc;
        border: 1px solid #0088cc;
    }
    ul.nav-tabs li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a{
        border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs.affix{
        top: 30px; /* Set the top position of pinned element */
    }
    
    
    .image{height:250px;width:200px;background: #ffffff}
</style>
<!--导航条 -->
    <nav class="navbar navbar-default" role="navigation"  style="background-color:white;">
        <div class="navbar-header">
             <a class="navbar-brand" href="{% url 'user_center'%}">Hi,xxx 欢迎来到政资汇！</a>
        </div>
        <div style="float:right">
            <ul class="nav navbar-nav">
            <li class="active"><a href="#">退出</a></li>
            <li><a href="#">登录</a></li>
            <li><a href="#">注册</a></li>
            <li><a href="{% url 'user_center'%}">我的政资汇</a></li>
            <li><a href="#">我的订单</a></li>
            <li><a href="#">手机政资汇</a></li>
            <li><a href="#">申请加盟</a></li>
            <li><a href="#">人工申诉</a></li>
            <li><a href="#">网站导航</a></li>
         </ul>
        </div>
    </nav>  
        <!--div class="jumbotron"> </div -->
<!--网站图标+搜索栏-->
  <div class="row">
    <div class="col-sm-4">
      <center><img src="/static/images/logo.jpg"></img></center>
    </div>
    
    <div class="col-sm-8">
        <div class="row-fluid">
            <div id="chosecity" >
                <form action="">
                    <select name="切换城市" style="height:30px;width:100px">
                        <option value="chengdu" selected>成都</option>
                        <option value="shanghai">上海</option>
                        <option value="beijing">北京</option>
                        <option value="guangzhou">广州</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="search">
            <form action="/search" method="GET" class="search">
                    <input class="input-lg" type="text" id="inputitem" name="inputitem" style="float:left;width:70%;"/>
                    <button type="submit" class="btn btn-primary btn-lg" style="float:left;width:15%">搜索</button>
            </form>
        </div>
      
  </div>
</div>
<br>
<br>
<!--导航栏-->
<!--div class="jumbotron" --> 
    <script>
            function show(object){
                id=object.id;
                div="div"+id;
                document.getElementById(div).style.display="block";
            }
            function hide(object){
                id=object.id;
                div="div"+id;
                document.getElementById(div).style.display="none";
            }
        
    </script>

