<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
  <script src="/static/jquery-2.14/jquery.js"></script>
  <link rel="stylesheet" href="/static/bootstrap-3.3.5/css/bootstrap.min.css">
<title>
商家入驻
</title>
</head>
<body>
<div class="container-fruid">
<div class ="row">
<div style="float:left;margin-left:50px	;margin-right:100px">
<a href="{% url 'index' %}"><img src="/static/images/logo.jpg"></img></a>
</div>
<div style="float:left">
	<h1><font color="grey">
		{% if request.COOKIES.user_name %}
		{{ request.COOKIES.user_name }}
		{% endif %}
		{% if not request.COOKIES.user_name %}
		商家管理
		{% endif %}
	</font></h1>
</div>

<div style="float:right;margin-right:100px">
{% if not request.COOKIES.user_id %}
<ul class="nav navbar-nav navbar-right"> 
				<li><a href="#"><h4><font color="grey">登录</font></h4></a></li>
				<li><a href="#"><h4><font color="grey">注册</font></h4	></a></li>
</ul>
{% endif %}
{% if request.COOKIES.user_id %}
<ul class="nav navbar-nav navbar-right"> 
				<li><a href="#"><h4><font color="grey">退出</font></h4></a></li>
</ul>
{% endif %}
</div>
<div style="float:right;margin-right:100px">
<ul class="nav navbar-nav navbar-right"> 
				<li><a href="#"><h4><font color="grey">帮助中心</font></h4></a></li>
</ul>
</div>
<div style="float:right;margin-right:150px">
{% if request.COOKIES.user_id %}
	<h5><font color="grey">商家名称：{{ request.COOKIES.user_name }}</font></h5>
<p>	
<ul class="nav navbar-nav navbar-right"> 
				<li><a href="#"><h5><font color="grey">设置</font></h5></a></li>
				<li><a href="#"><h5><font color="grey">帐号管理</font></h5	></a></li>
				<li><a href="#"><h5><font color="grey">提醒</font></h5></a></li>
</ul>
{% endif %}
</div>
</div>
<br />
<br />

<div class ="row" style="background-color:#009999; line-height:5em">
<!--<div class="text" style="background-color:#00BFFF; line-height:5em">-->

<div class = "col-sm-1 col-md-1 col-lg-1"></div>
<div class = "col-sm-1 col-md-1 col-lg-1">

<center><a href="#"><font color="white" size="4px" onclick="index()">首页</font></a></center>

</div>
<div class = "col-sm-1 col-md-1 col-lg-1">
<center><a href="#"><font color="white" size="4px" onclick="order_manage()">订单管理</font></a></center>
</div>
<div class = "col-sm-1 col-md-1 col-lg-1" >
<center><a href="#"><font color="white" size="4px" onclick="counter_manage()">结算管理</font></a></center>
</div>
<div class = "col-sm-1 col-md-1 col-lg-1" >
<center><a href="#"><font color="white" size="4px" onclick="comment_manager()">点评管理</font></a></center>
</div>
<div class = "col-sm-1 col-md-1 col-lg-1" >
<center><a href="#"><font color="white" size="4px" onclick="info_main()">信息维护</font></a></center>

</div>
<div class = "col-sm-1 col-md-1 col-lg-1">
<center><a href="#"><font color="white" size="4px" onclick="manageservice()">服务维护</font></a></center>
</div>
<div class = "col-sm-1 col-md-1 col-lg-1" >
<center><a href="#"><font color="white" size="4px" onclick="pubservice()">服务发布</font></a></center>

</div>
</div>

<div class="row">
<iframe id="fra" class="col-sm-12 col-md-12 col-lg-12" scrolling="yes" marginwidth="0px" frameborder="0" height="1000px" src="/busindex_sub"> </iframe>


</div>


<script>
	function pubservice(){
		var url="/buspubservice"
		$('#fra').attr('src',url);
	}
	function manageservice(){
        var url="/busmaservice"
		$('#fra').attr('src',url);
	}

	function comment_manager(){
	    var url="/bus_comment_manager"
		$('#fra').attr('src',url);
    }
    function info_main(){
        var url="/info_main"
		$('#fra').attr('src',url);
    }

	//YZ
	function order_manage(){
		var url="/bus_order_manage"
		$('#fra').attr('src',url);
	}
	function counter_manage(){
		var url="/bus_counter_manage"
		$('#fra').attr('src',url);
	}
	function index(){
		var url="/busindex_sub"
		$('#fra').attr('src',url);
	}


</script>
</div>
</div>
</body>
</html>
