<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
  <script src="/static/jquery-2.14/jquery.js"></script>
  <link rel="stylesheet" href="/static/bootstrap-3.3.5/css/bootstrap.min.css">
<title>
商家入驻
</title>
</head>
<body>
<div class="container-fruid">
<div class ="row">
<div style="float:left;margin-left:50px	;margin-right:100px">
<a href="{% url 'index' %}"><img src="/static/images/logo.jpg"></img></a>
</div>
<div style="float:left">
	<h1><font color="grey">
		{% if request.COOKIES.user_name %}
		{{ request.COOKIES.user_name }}
		{% endif %}
		{% if not request.COOKIES.user_name %}
		商家管理
		{% endif %}
	</font></h1>
</div>

<div style="float:right;margin-right:100px">
{% if not request.COOKIES.user_id %}
<ul class="nav navbar-nav navbar-right"> 
				<li><a href="#"><h4><font color="grey">登录</font></h4></a></li>
				<li><a href="#"><h4><font color="grey">注册</font></h4	></a></li>
</ul>
{% endif %}
{% if request.COOKIES.user_id %}
<ul class="nav navbar-nav navbar-right"> 
				<li><a href="#"><h4><font color="grey">退出</font></h4></a></li>
</ul>
{% endif %}
</div>
<div style="float:right;margin-right:100px">
<ul class="nav navbar-nav navbar-right"> 
				<li><a href="#"><h4><font color="grey">帮助中心</font></h4></a></li>
</ul>
</div>
<div style="float:right;margin-right:150px">
{% if request.COOKIES.user_id %}
	<h5><font color="grey">商家名称：{{ request.COOKIES.user_name }}</font></h5>
<p>	
<ul class="nav navbar-nav navbar-right"> 
				<li><a href="#"><h5><font color="grey">设置</font></h5></a></li>
				<li><a href="#"><h5><font color="grey">帐号管理</font></h5	></a></li>
				<li><a href="#"><h5><font color="grey">提醒</font></h5></a></li>
</ul>
{% endif %}
</div>
</div>
<br />
<br />

<div class ="row" style="background-color:#009999; line-height:5em">
<!--<div class="text" style="background-color:#00BFFF; line-height:5em">-->

<div class = "col-sm-1 col-md-1 col-lg-1"></div>
<div class = "col-sm-1 col-md-1 col-lg-1">

<center><a href="{% url 'busindex' %}"><font color="white" size="4px">首页</font></a></center>

</div>
<div class = "col-sm-1 col-md-1 col-lg-1">
<center><a href="#"><font color="white" size="4px" onclick="order_manage()">订单管理</font></a></center>
</div>
<div class = "col-sm-1 col-md-1 col-lg-1" >
<center><a href="#"><font color="white" size="4px" onclick="counter_manage()">结算管理</font></a></center>
</div>
<div class = "col-sm-1 col-md-1 col-lg-1" >
<center><a href="#"><font color="white" size="4px" onclick="comment_manager()">点评管理</font></a></center>
</div>
<div class = "col-sm-1 col-md-1 col-lg-1" >
<center><a href="#"><font color="white" size="4px" onclick="info_main()">信息维护</font></a></center>

</div>
<div class = "col-sm-1 col-md-1 col-lg-1">
<center><a href="#"><font color="white" size="4px" onclick="manageservice()">服务维护</font></a></center>
</div>
<div class = "col-sm-1 col-md-1 col-lg-1" >
<center><a href="#"><font color="white" size="4px" onclick="pubservice()">服务发布</font></a></center>

</div>
</div>
{% if request.COOKIES.first_page %}

<div class="row col-sm-12 col-md-12 col-lg-12">
<div class="row col-sm-4 col-md-4 col-lg-4">

	<div class="panel panel-success">
	<div class="panel-heading">
        <h3 class="panel-title">未处理订单 &nbsp; <font color="red">{{order_num_info.0}}</font></h3>
    </div>
   		 <div class="panel-body">

	<div class="table-responsive">
	<table class="table">

    <thead>
        <tr>
            <th>编号</th>
            <th>客户</th>
            <th>项目名称</th>
            <th>时间</th>
            <th>联系人</th>

    </thead>
    <tbody>
    {% for order in weichuli_order %}
    <tr>
        <td>{{ order.order_no }}    </td>
        <td>{{ order.buyer_name}}    </td>
        <td>{{ order.goods_name }}    </td>
        <td>{{ order.add_time}}    </td>
        <td>{{ order.buyer_expand_contact }}    </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
	</div>
    	</div>
	</div>
</div>

<div class="row col-sm-4 col-md-4 col-lg-4">

	<div class="panel panel-warning">
   	<div class="panel-heading">
        <h3 class="panel-title">今日汇总</h3>
    </div>
   		 <div class="panel-body">
			 <h3 align="center">未处理订单 &nbsp; <font color="red">{{order_num_info.0}}</font>|&nbsp;待审核订单 &nbsp; <font color="red">{{order_num_info.1}}</font></h3>
    		 <h3 align="center">完成订单 &nbsp; <font color="red">{{order_num_info.2}}</font>|&nbsp;进行中订单 &nbsp; <font color="red">{{order_num_info.3}}</font></h3>
		 </div>
	</div>
</div>

<div class="row col-sm-4 col-md-4 col-lg-4">

	<div class="panel panel-warning">
 	<div class="panel-heading">
        <h3 class="panel-title">最新点评</h3>

    </div>
   		 <div class="panel-body">
			 {% for comment in mine_comment %}

				<h3 align="center">用户<font color="blue" >{{comment.user_name}}</font>对您公司的<font color="red">{{comment.goods_name}}</font>服务有如下评价:<font color="yellow">{{comment.goev_content}}</font></h3>
			 {% endfor %}
    	</div>
	</div>
</div>
</div>


<div class="row col-sm-12 col-md-12 col-lg-12">
<div class="row col-sm-4 col-md-4 col-lg-4">

	<div class="panel panel-danger">
	<div class="panel-heading">
        <h3 class="panel-title">政资汇重要通知</h3>
    </div>
   		 <div class="panel-body">
		{% for notice in mine_notice %}
			 <p align="center">来自政资汇的通知:<font color="yellow">{{notice.Notice_title}}</font> 简略内容:<font color="yellow">{{notice.Notice_short_content}}</font></p>
		{% endfor %}
    	</div>
	</div>
</div>

<div class="row col-sm-4 col-md-4 col-lg-4">

	<div class="panel panel-danger">
 	<div class="panel-heading">
        <h3 class="panel-title">最新发布服务</h3>
    </div>
   		 <div class="panel-body">

			 {% for goods in latest_serv %}
				<div class="row">
					<div class="col-lg-3 col-sm-3 col-md-3 ">
						<a href="/service_details/?goodsid={{ goods.goods_id }}"><img  class="img-responsive"  src="/static/zhengzihui_app/img_for_items/default.jpg" /></a>

					</div>
					<div class="col-lg-9 col-sm-9 col-md-9">
						<p><font color="blue"> 服务名称：{{ goods.goods_name }} </font> <font color="yellow">服务编号：{{ goods.goods_code }}</font> {% if goods.goods_status == 0 %}<font color="red">已停止服务</font>{% endif %} {% if goods.goods_status == 1 %}正在服务{% endif %}</p>

					</div>
				</div>
			{% endfor %}


    	</div>
	</div>
</div>

<div class="row col-sm-4 col-md-4 col-lg-4">

	<div class="panel panel-info">
	<div class="panel-heading">
        <h3 class="panel-title">常用信息</h3>
    </div>
   		 <div class="panel-body">
			 <h1>等待李秋霞上传她的版本，要用到她的数据表</h1>
    	</div>
	</div>
</div>
</div>

{% endif %}
<div class="row">
<iframe id="fra" class="col-sm-12 col-md-12 col-lg-12" scrolling="yes" marginwidth="0px" frameborder="0" height="1000px" src="#"> </iframe> 


</div>


<script>
	function pubservice(){
		var url="/buspubservice"
		$('#fra').attr('src',url);
	}
	function manageservice(){
        var url="/busmaservice"
		$('#fra').attr('src',url);
	}

	function comment_manager(){
	    var url="/bus_comment_manager"
		$('#fra').attr('src',url);
    }
    function info_main(){
        var url="/info_main"
		$('#fra').attr('src',url);
    }

	//YZ
	function order_manage(){
		var url="/bus_order_manage"
		$('#fra').attr('src',url);
	}
	function counter_manage(){
		var url="/bus_counter_manage"
		$('#fra').attr('src',url);
	}


</script>
</div>
</div>
</body>
</html>
