<div>
<div id="serve-title">
		<h3><B>收藏的服务</B></h3>
</div>
<div class="row-fluit>
<table align="center" style="width:1000px;">
<tr>
{% for good in goods %}
<td>
 <div class="collect">
                        <a href="/service_details/?goodsid={{ good.goods_id }}">
						<img  class="img-responsive"  src="/static/zhengzihui_app/img_for_items/default.jpg" /><!--需要后期替换的图片页-->
                            
                            {{ good.goods_name }}+服务编号：{{ good.goods_code }}
							<br>
                        </a>
						<p class="shoufei"><small>收费标准:
						<span class="money">
							<strong > 首付：{{ good.goods_payahead }}+申报成功应付奖金{{ good.goods_awardafter }}</strong>
						</span>
							</small></p>
						
                            <div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" 
									aria-valuemin="0" aria-valuemax="100" style="width: {{ good.goods_remaintime }}%; line-height:50px;">
								</div>
							</div>
						<h5 class="shoufei">{{ good.goods_accept_starttime }}  &nbsp;   {{ good.goods_remaintime }}%   &nbsp;      {{ good.goods_accept_endtime }}</h5>
	</h5>
	
	
</div> 
</td>
{% endfor %}
</tr>
{% if not goods %}
<h3 align="center">你还没有收藏过服务，去看看吧！</h3>
{% endif %}
</table>
</div>
</div>