<div>
    <link href="/static/css/search_result.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/shoucang_item.js" type="text/javascript"></script>
 <div id="list">
            {% for item in items %}
            <div class="list-content">
                <a href="/project_detail/?id={{ item.item_id }}">
                    <img src="{{ item.pic_url }}" />
                </a>
                <span>
                    {{ item.item_key }}
                </span>
                <div class="text">
                    <p class="title">
                        <label>{{ item.item_about }}</label>
                        <a href="/project_detail/?id={{ item.item_id }}">{{ item.item_name }}</a>
                    </p>
                    <p class="agency">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <span>{{ item.pa }}</span>
                    </p>
                    <p class="benefit">
                        <span class="benefit-text">
                            <span class="glyphicon glyphicon-usd"></span>
                            <span>额度</span>
                        </span>
                        <span class="benefit-num">
                            {{ item.item_ga }}
                        </span>
                    </p>
                    <div class="progress">
                        <div class="progress-bar"></div>
                        <div class="info" style="left:{{ item.item_consume_time }}%;">{{ item.item_consume_time }}%</div>
                    </div>
                    <diV class="date">
                        <span class="start">
                            {{ item.item_publish }}
                        </span>
                         <span class="stop">
                           {{ item.item_deadtime }}
                        </span>
                    </diV>

                </div>
                <div class="watch">
                    <p>
                        已经有<span class="sum">{{ item.order_num }}</span>人参与
                    </p>
                    <a href="/project_detail/?id={{ item.item_id }}" class="btn btn-warning btn-lg btn-block ">查看详情</a>
                </div>
                <div class="line"></div>
            </div>
            {% endfor %}
            {% if not items  %}
                <h3 align="center">你还没有收藏过项目，去看看吧！</h3>
            {% endif %}
        </div>
        </div>