{% extends 'my_base.html' %}
 
{% block title %}服务详情{% endblock %}

{% block content %}


<!-- assets -->

    <link rel="stylesheet" type="text/css" href="/static/css/jcarousel.connected-carousels.css">
	<link rel="stylesheet" type="text/css" href="/static/css/jquery-confirm.min.css">
    <script type="text/javascript" src="/static/js/jcarousel.connected-carousels.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/recommend_item.css">

	<script src="/static/js/jquery-confirm.min.js"></script>
	<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>


<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
         data-target="#example-navbar-collapse">
         <span class="sr-only">切换导航</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">政资汇</a>
   </div>
   <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav">
         <li style="width:100px"><a href="#">全部分类</a></li>
         <li style="width:100px"><a href="#">经信汇</a></li>
         <li style="width:100px"><a href="#">科教汇</a></li>
         <li style="width:100px"><a href="#">农林汇</a></li>
         <li style="width:100px"><a href="#">基建汇</a></li>
         <li style="width:100px"><a href="#">商务汇</a></li>
         <li style="width:100px"><a href="#">民生汇</a></li>
         <li style="width:100px"><a href="#">监管汇</a></li>
         <li style="width:100px"><a href="#">服务汇</a></li>
         

      
      </ul>
   </div>


</nav>

    <div class="content">
        <div class="path">
        <span>
            您所在的位置：
        </span>
        <span>
            <a href="#">
                所有分类
            </a>
        </span>
        >
        <span>
            <a href="#">
                2016星火假计划
            </a>
        </span>
    </div>
    <hr></hr>
    </div>
<!--轮播-->   
<!--这里的图片需要从项目的相册中取得，对应的缺少相应的字段指示项目的相册，同时相册中也没有数据--> 


<div class="row-fluid col-md-7 col-lg-7">

<div class="wrapper">
            <div class="connected-carousels">
                <div class="stage">
                    <div class="carousel carousel-stage">
                        <ul>
                            {% for pic_url in pics_url %}
                                <li><img src="{{pic_url}}" width="600" height="400" alt=""></li>
                            {% empty %}
                                <li>抱歉，还没有相关项目图片</li>
                            {% endfor%}
                        </ul>
                    </div>
                    <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
                    <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
                </div>

                <div class="navigation">
                    <a href="#" class="prev prev-navigation">&lsaquo;</a>
                    <a href="#" class="next next-navigation">&rsaquo;</a>
                    <div class="carousel carousel-navigation">
                        <ul>
                            {% for pic_url in pics_url %}
                                <li><img src="{{pic_url}}" width="50" height="50" alt=""></li>
                            {% empty %}
                                <li>抱歉，还没有相关图片</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
</div>

<div class="row-fluid col-md-offset-1 col-lg-offset-1 col-md-4 col-lg-4">
<!--这里还有好评率、成功率和服务特色没有添加相应逻辑；对应的缺少tb_goods表单和成功率字段-->
<h4>{{goods.goods_name}}</h4>
	<h6>服务编号：{{ goods.goods_code }}</h6>
<p><strong>收费标准： ￥ {{goods.goods_market_price}}</strong></p>

<hr></hr>

<p>服务特色： {{goods.goods_guarantee}}</p>

<hr></hr>

<br><br><br><br><br><br>

<div align="center">
				 <!--将跳转到完善资料页面-->
					 <button type="button" class="btn-lg btn-primary" id="shoucang" onclick="show()">我要收藏</button>&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp <a href="{% url 'contact_details' %}?goodsid={{goods.goods_id}}"><button type="btn" class="btn btn-danger btn-lg">我要申报</button></a>
		
</div>
                

<!--点击收藏的script脚本-->
			<script>
				  $(document).ready(function(){
                    $("#shoucang").click(function(){
	                    var user_id = "{{request.COOKIES.user_id}}";

	                    var goods_id = "{{ goods.goods_id }}";
	                    //alert(goods_id);
	                    //alert(user_id);
	                    $.get("/shoucang_goods/",{'user_id':user_id,'goods_id':goods_id}, function(ret){
		                    alert(ret);
                            })

                 });
            });
			</script>


</div>

<div class="row-fluid">
<div class="col-md-6 col-lg-6">

<div class="progress progress-striped active">
   <div class="progress-bar progress-bar-success" role="progressbar" 
      aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 

      style="width:{{finish_percentage}}%;">
      <span>{{finish_percentage}}%完成</span>

      

   </div>
</div>
<span>开始时间：{{ publish_time_format}}</span><span style="float:right">截止时间：{{ datetime_format}}</span>
</div>

<div class="col-md-offset-2 col-lg-offset-2 col-md-4 col-lg-4">
<h5>项目分析师推荐：</h5>
<hr></hr>

</div>
</div>    
    
    
    
 <br></br>
 <br></br>
 <br></br>
 <br></br>
 <br></br>
 <br></br>
 <br></br>
 <br></br>
 <br></br>
 <br></br>
 <br></br>
 <br></br>
 <br></br>
 <br></br>
 <br></br>
 <br></br>
 <br></br>
 <br></br>
 <nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
         data-target="#example-navbar-collapse">
         <span class="sr-only">切换导航</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
   </div>
   <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav">

         <li style="width:100px"><a href="#">服务内容</a></li>
         <li style="width:100px"><a href="#">服务流程</a></li>

         <li style="width:100px"><a href="#">成功案例</a></li>
         <li style="width:100px"><a href="#">客户点评</a></li>


         
         <p class="navbar-text navbar-right">联系我们：400XXXXXX </p>
      
      </ul>
   </div>


</nav>



<hr></hr>
<div  class="row-fluid" align="center">
<h1>服务详情</h1>
<p>优选项目申报团队、XXXXXXX次实战经验，保证优质服务质量。。。。。</p>
<p>
<pre>


五、材料报送地址

地址：四川省成都市学道街39号四川省科技厅发展计划处506室，邮编：610016。

 

发展计划处联系人：

 

林 丹，028-86669425  邓 睿，028-86663469

 

屈 智，028-86671416

 

技术支持热线：028-86726087,85249950-601

 

附件：

 

1.重大产业发展及重大公益民生类项目申报指南

 

2.基本科研类项目申报指南

 

3.人才类项目申报指南

 

4.综合类项目申报指南

 

5.省级科研院所类项目申报指南

 

其他

附件1重大产业发展及重大公益民生类项目申报指南.docx

附件2基本科研类项目申报指南.docx

附件3人才类项目申报指南.docx

附件4综合类项目申报指南.docx

附件5省级科研院所类项目申报指南.docx

</pre>
</p>
<hr></hr>
<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>其他推荐</strong></a>
   </div>
   <!--暂时不要其他推荐右侧的搜索框
   <div style="float:right">
      <form class="navbar-form navbar-left" role="search">
         <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
         </div>
         <button type="submit" class="btn btn-default">提交</button>
      </form>    
   </div>
       --> 
</nav>
   
 <!--main-bottom-->
    <div class="main-bottom">
        {% for good in goods_recommend_display %}
            <div class = "col-lg-3 col-md-3 col-sm-3">
                <div class="single-sale">
                <a href="/service_details?goodsid={{good.goods_id}}">
                    <img class="img-responsive" src="/static/images/测试静态页面用img/1.jpg" />
                    <h3>{{good.goods_name}}</h3>
                </a>
                <p><span class="orange">￥&nbsp;</span><span class="orange">{% widthratio good.goods_price 1 good.goods_price_discouint as price10 %} {% widthratio 0.1 1 price10 %}</span><span class="send-free">&nbsp;&nbsp;&nbsp;OnSale</span></p>
                <p class="gary-text"><span><h3>折扣：{{good.goods_price_discouint}} </h3></span><span><del>{{good.goods_price}}</del></span>&nbsp;|&nbsp;<span>月消10件</span></p>
                </div>
            </div>
            {% empty %}
            <li>抱歉，还没有相关的其他推荐</li>
            {% endfor%}
        
        
    </div>
<hr>
</div>
        <!--可下拉导航条目
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Java <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="#">jmeter</a></li>
               <li><a href="#">EJB</a></li>
               <li><a href="#">Jasper Report</a></li>
               <li class="divider"></li>
               <li><a href="#">分离的链接</a></li>
               <li class="divider"></li>
               <li><a href="#">另一个分离的链接</a></li>
            </ul>
         </li>
        -->
<!--附加导航-->

<div class="row">


<!--if showDialogflag  现在是需要登录之后才能看到服务的相关价格，所以暂时不要提示要不要支付-->
{% if 0 %}
<script>
	
    $.confirm({
        title: '未支付的订单!',
        content: '你有一个浏览过但未支付的订单!',
		confirmButton: '继续支付',
    	cancelButton: '回到主页',
        confirm: function(){
            
        },
        cancel: function(){
            window.location.assign("http://127.0.0.1:8000/index")
        }
    });
</script>
{% endif %}




</div>

 
{% endblock %}
