<DOCTYPE html>
<html>
<head>
<title>提交成功</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <script src="/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>



  <link rel="stylesheet" href="/static/jquery-ui-1.10.4/themes/base/jquery.ui.all.css">
  <script src="/static/jquery-2.14/jquery.js"></script>

  <script src="/static/jquery-2.14/jquery.min.js"></script>

  <script src="/static/jquery-ui-1.10.4/ui/jquery.ui.core.js"></script>
  <script src="/static/jquery-ui-1.10.4/ui/jquery.ui.widget.js"></script>
  <script src="/static/jquery-ui-1.10.4/ui/jquery.ui.position.js"></script>
  <script src="/static/jquery-ui-1.10.4/ui/jquery.ui.menu.js"></script>
  <script src="/static/jquery-ui-1.10.4/ui/jquery.ui.autocomplete.js"></script>
  <link rel="stylesheet" href="/static/jquery-ui-1.10.4/demos/demos.css">
  <link rel="stylesheet" href="/static/bootstrap-3.3.5/css/bootstrap.min.css">
  <script src="/static/js/Popt.js"></script>
  <script src="/static/js/cityJson.js"></script>
  <script src="/static/js/citySet.js"></script>
  <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link href="/static/css/user_remen.css" rel="stylesheet" type="text/css"/>
<style>
h3 {margin:250px;}
</style>
</head>
<body>
 <div class="container">

<div class="col-sm-3 col-md-3 col-lg-3">
      <center><a href="{% url 'index' %}"><img src="/static/images/logo.jpg"></img></a></center>
    </div>
		<hr  width="100%" SIZE=10/>
<h3>提交审核，等待验证......</h3>

<div class="form-group" style="background-color：f66;">
      <div class="col-md-offset-4 col-sm-12" >
<a href="{% url 'merchant' %}"><button type="submit" style="width:100px;height:50px;  class="btn"><h4><big>登陆</big></h4></button></a>
</div>

</div>
</div>
</body>
</html>