<!DOCTYPE html>
<html>
<head>
  <title>网站联盟</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">  
  <link href="../static/css/union_website.css" rel='stylesheet' type='text/css' />
</head>
<body>
<div class="container">
<!--导航条 -->
    <nav class="navbar" role="navigation"  style="background-color:white;">
		<div class="navbar-header" id="section-0">
			 <a class="navbar-brand" href="{% url 'user_center'%}">Hi,xxx 欢迎来到政资汇！</a>
		</div>
		<div style="float:right">
			<ul class="nav navbar-nav">
			<li class="active"><a href="#">退出</a></li>
			<li><a href="#">登录</a></li>
			<li><a href="#">注册</a></li>
			<li><a href="{% url 'user_center'%}">我的政资汇</a></li>
			<li><a href="#">我的订单</a></li>
			<li><a href="#">手机政资汇</a></li>
			<li><a href="#">申请加盟</a></li>
			<li><a href="#">人工申诉</a></li>
			<li><a href="#">网站导航</a></li>
		 </ul>
		</div>
	</nav>

</div>
<div class="titlepic"></div>
<div class="container">
	<div class="contentpic1" href = "#"></div>
	<div class="left">
		<p class="left">为什么我们选择政资汇:</p>
		<hr class="left" style="border:3 double" width="90%"  SIZE=3/>
		<img class="left" src="../static/images/6.png" alt="placeholder+image">
	</div>
	<div class="right">
		<p class="right">最新动态：</p>
		<hr class="right" style="border:3 double" width="29%"  SIZE=3/>
		<p class="notice">重要通知：<span><a href="#">关于税务登记证号变更通知通知通知通知通知通知通知</a></span></p>
		<p class="notice">重要通知：<span><a href="#">关于税务登记证号变更通知通知通知通知通知通知通知</a></span></p>
		<p class="notice">重要通知：<span><a href="#">关于税务登记证号变更通知通知通知通知通知通知通知</a></span></p>
		<p class="notice">重要通知：<span><a href="#">关于税务登记证号变更通知通知通知通知通知通知通知</a></span></p>
		<p class="notice">重要通知：<span><a href="#">关于税务登记证号变更通知通知通知通知通知通知通知</a></span></p>
		<p class="notice">重要通知：<span><a href="#">关于税务登记证号变更通知通知通知通知通知通知通知</a></span></p>
	</div>
	<div>
		<div class="bottom">
		<p class="bottom">优秀伙伴:</p>
		<hr class="bottom" style="border:3 double" width="54%"  SIZE=3/>
		<img class="bottom" src="../static/images/7.png" alt="placeholder+image">
	</div>

</div>
	<div class="footer">
		<hr class="footer" style="border:3 double" width="100%"  SIZE=3/>
			<div class="f_left">
				<p class="f_left">关于我们</p>
				<p>同程旅游产品开放平台是一个由同程网推出的旅游产品在线预订服务的分享平台，旨在帮助合作伙伴搭建属于他们自己的旅游产品预订频道。合作伙伴可以根据网站自身情况，自由选择合作模式，为用户带来旅游产品预订的完美体验，同时根据开放平台获得订单给予合作伙伴相应的佣金。在增加网站用户体验的同时也为网站增加了收入途径。</p>
			</div>
			<div class="f_center">
				<p class="f_center">联系我们</p>
				<p>合作咨询：<span><a href="#">010-25478111</a></span></p>
				<p>问题投诉：<span><a href="#">010-25478111</a></span></p>
				<p>其他合作：<span><a href="#">010-25478111</a></span></p>
			</div>
			<div class="f_right">
				<p class="f_right">在线咨询</p>
				<p>合作咨询：<span><a href="#">010-25478111</a></span></p>
				<p>问题投诉：<span><a href="#">010-25478111</a></span></p>
				<p>其他合作：<span><a href="#">010-25478111</a></span></p>
			</div>	
	</div>
	<hr style="border:3 double" width="100%" SIZE=3/>
	<p class="copyright">Copyright © 2003-2016 ly.com 版权所有</p>
</body>
</html>	
