{% extends 'my_base.html' %}

{% block title %}政资汇-用户中心{% endblock %}

{% block content %}


    <link href="/static/css/user.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/user.js" type="text/javascript"></script>
    <link href="/static/css/user_remen.css" rel="stylesheet" type="text/css"/>
<br>
<br>

<!--导航栏-->
<!--div class="jumbotron" --> 
    <script>
            function show(object){
                id=object.id;
                div="div"+id;
                document.getElementById(div).style.display="block";
            }
            function hide(object){
                id=object.id;
                div="div"+id;
                document.getElementById(div).style.display="none";
            }
        
    </script>


    <div id="mainbox" class="clearfix">
        <div id="boxleft">
            <div class="panel-group" id="menu" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse"  href="#UserCenter" aria-expanded="true" aria-controls="UserCenter">
                                个人中心<span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="UserCenter" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <ul class="panel-body">

                            <li><a class="not-clicked" id="{% url 'my_info' %}" href="javascript:void(0);">我的信息</a></li>
			    <li><a class="not-clicked" href="/custmap">用户画报</a></li>
                            <li><a class="not-clicked" id="{% url 'safe_center' %}" href="javascript:void(0);">安全中心</a></li>
                            <li>支付绑定(待定)</li>
                            <li>我的等级与成长(待定)</li>
                            <!--
                            <li><a class="not-clicked" id="{% url 'pay_combine' %}" href="javascript:void(0);">支付绑定</a></li>
                            <li><a class="not-clicked" id="{% url 'grade_grow' %}" href="javascript:void(0);">我的等级与成长</a></li>
                            -->
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"  href="#OrderCenter" aria-expanded="false" aria-controls="OrderCenter">
                                订单管理<span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="OrderCenter" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <ul class="panel-body">
                            <li><a class="not-clicked" id="{% url 'all_orders' %}" href="javascript:void(0);">全部订单</a></li>
                            <li><a class="not-clicked" id="{% url 'not_pay' %}" href="javascript:void(0);">待付款</a></li>
                            <li><a class="not-clicked" id="{% url 'payed' %}" href="javascript:void(0);">已付款</a></li>
                            <li><a class="not-clicked" id="{% url 'delivered' %}" href="javascript:void(0);">已下单</a></li>
                            <li><a class="not-clicked" id="{% url 'checked' %}" href="javascript:void(0);">已验收</a></li>
                            <li><a class="not-clicked" id="{% url 'delete' %}" href="javascript:void(0);">已取消</a></li>
                        </ul>
                    </div>
                </div>
				 <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"  href="#CollectCenter" aria-expanded="false" aria-controls="CollectCenter">
                                我的收藏<span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="CollectCenter" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <ul class="panel-body">
                            <li><a class="not-clicked" id="{% url 'collects' %}" href="javascript:void(0);">收藏的项目</a></li>
                            <li><a class="not-clicked" id="{% url 'collect_serve' %}" href="javascript:void(0);">收藏的服务</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"  href="#EvaluationCenter" aria-expanded="false" aria-controls="EvaluationCenter">
                                评价管理<span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="EvaluationCenter" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <ul class="panel-body">
                            <li><a class="not-clicked" id="{% url 'my_evaluate' %}" href="javascript:void(0);">我的评价</a></li>
                            <li><a class="not-clicked" id="{% url 'statistics' %}" href="javascript:void(0);">评价统计</a></li>
                            <li>其他功能（待定)</li>
                        </ul>
                    </div>
		   
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headinglast">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"  href="#pushCenter" aria-expanded="false" aria-controls="pushCenter">
                                政资汇消息推送<span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="pushCenter" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headinglast">
                        <ul class="panel-body">
                            <li><a class="not-clicked" id="{% url 'user_push_info' %}" href="javascript:void(0);">全部推送</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="boxright">
            <div id="load">
                <img src="/static/images/load2.gif"/>
            </div>
            <div id="right-main-box">
                <h3>{{ user.user_name}}，欢迎您来到政资汇！</h3>
                <p>猜您喜欢</p>
                <div id="watch-list" class="clearfix">
                {% for a_click_item in a_click_items%}
                    <div class="watch">
                        <a href="{% url 'project_detail' %}?id={{ a_click_item.id }}">
                            <img src="{{ a_click_item.pic_url }}"/>
                            <p>{{ a_click_item.name }}</p>
                        </a>
                    </div> 
                {% endfor %}          
                </div>

            </div>

        </div>
    </div>

{% endblock %}
