div.center{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

h3{
	margin-top: 15px;
	margin-bottom: 5
}

hr{
	margin: 5px;
}

span.a{
	float: right;
	font: 18px cursive;
}

span.b{
	float: right;
	color: red;
}
span.c{
	float: left;
	color: red;
}



div.data{
	background-color: #F6F6F6;
	margin: 0px;
	padding-top: 3px;


}

p.data{
	font-weight: bold;
}

table{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

td.left{
	width: 120px;

}
td.left_text{
	vertical-align: top;
}
tr{
	height: 30px;
}

input{
	border-color: #CCCCCC;
	height: 23px;
	box-shadow: none;
	border: 1px solid #CCCCCC;
}

textarea{
	margin-top: 3px;
	resize:none;
	border: 1px solid #CCCCCC;
	width: 400px;
	height: 100px;
}

a.sub{
	background-image: url(../images/10.png);
	background-position: -0px -144px;
	width: 97px;
	height: 32px;
	display: block;
	line-height: 32px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	margin-left: 10px;
	margin-top: 30px;
	float: left;
	font-family: Microsoft YaHei;
	border-radius:5px;
}
a.sub:hover{
	background-image: url(../images/9.png);
}

img.h{
	width: 100%;
}
div.footer{
	margin-top: 50px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
p.footer{
	margin-top: 10px;
	text-align: center;
	color: #999;
}